<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <nav>

    </nav>
    <!-- header -->
    <%- include('../partials/header') %>
        <main>
            <section class="container"></section> <!-- container -->
            <article class="container-carousel"> <!-- slider-wrapper -->
                <div class="container-carousel-images"> <!-- slider -->
                    <img id="slide-1" src="./img/img-wood-mood.jpg" alt="publicidad">
                    <img id="slide-2" src="./img/img-mesa-unity3.jpg" alt="publicidad">
                    <img id="slide-3" src="./img/img-mesa-fetich.jpg" alt="publicidad">
                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </article>
            </section>
            <h2> Productos destacados </h2>
            <section class="container">
                <% let count=0; %>
                    <% products.forEach(product=> { %>
                        <% if (count < 4) { %>
                            <article class="container-product">
                                <img class="container-product-img" src="<%= product.imagen %>"
                                    alt="imagen de un producto">
                                <div class="container-product-description">
                                    <i class="material-symbols-outlined icon-add-shopping-cart">add_shopping_cart</i>
                                    <p class="categoria">
                                        <%= product.categoria %>
                                    </p>
                                    <p class="nombre">
                                        <%= product.nombre %>
                                    </p>
                                    <div class="container-money">
                                        <p class="precio">$<%= product.precio %>
                                        </p>
                                        <p class="descuento">
                                            <%= product.descuento %>
                                        </p>
                                    </div>
                                </div>
                            </article>
<!--                             <% count++; %> -->
                                <% } %>
                                    <% }); %>
            </section>
            <h2> Productos según tu espacio </h2>
            <section class="container">
                <article class="container-categorias">
                    <div class="container-categorias-img">
                        <img class="img-maxsize" src="./img/img-categoria-exterior.jpg" alt="imagen de un producto">
                        <h3> Exterior<br>(pronto)</h3>
                    </div>
                </article>
                <article class="container-categorias">
                    <div class="container-categorias-img">
                        <img class="img-maxsize" src="./img/img-categoria-interior.jpg" alt="imagen de un producto">
                        <h3> Interior<br>(pronto)</h3>

                    </div>
                </article>
                <article class="container-categorias">
                    <div class="container-categorias-img">
                        <img class="img-maxsize" src="./img/img-categoria-accesorios.jpg" alt="imagen de un producto">
                        <h3> Accesorios<br>(pronto)</h3>
                    </div>
                </article>
            </section>
        </main>
        <!-- footer -->
        <%- include('../partials/footer') %>
</body>

</html>