<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/creacionProductos.css">
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <h1>Formulario de Edición de Productos</h1>

      <form action="/products/<%= product.id %>/update?_method=put" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre del producto</label>
        <input type="text" id="nombre" name="nombre" value="<%= product.name %>" required>

        <label for="precio">Precio</label>
        <input type="text" id="precio" name="precio" value="<%= product.precio %>" required>

        <label for="categoria">Categoría</label>
        <input type="text" id="categoria" name="categoria" value="<%= product.categoria %>" required>

        <!-- evaluar el selector (grupo) -->
        <!-- <select id="categoria" name="categoria" required>
          <option value="">Seleccionar</option>
          <option value="sillas">Sillas</option>
          <option value="mesas">Mesas</option>
          <option value="sofas">Sofás</option>
        </select> -->

        <label for="imagen">Imagen del producto</label>
        <input class="formImg" type="file" id="imagen" name="imagen"  multiple accept=".jpg, .jpeg, .png" required>
        <p class="imgText">Imagenes guardadas anteriormente</p>
        <% if (product && product.image) { %>
          <img src="<%= product.image %>" alt="Imagen del producto">
        <% } %>
        
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" name="descripcion" required> <%= product.descripcion %></textarea>
        
        <input type="submit" value="Guardar">
      </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>