<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/listProducts.css">
</head>

<body>
    <!-- header -->
    <%- include('../partials/header') %>
        <main>
            <h2> Catálogo </h2>
            <section class="container">
                <% productos.forEach(producto => { %>
                    <article class="container-product">
                        <img class="container-product-img" src="<%= producto.imagen %>" alt="imagen de un producto">
                        <script>
                            console.log("Nombre de imagen: <%= producto.imagen %>");
                        </script>
                        <div class="container-product-description">
                            <p class="categoria"><%= producto.categoria %></p>
                            <p class="nombre"><%= producto.nombre %></p>
                            <div class="container-money">
                                <p class="precio"> <%= producto.precio %></p>
                                <p class="descuento"> Disponibles <%= producto.cantidad %></p>
                            </div>
                            <div>
                                <a class="detalle" href="/products/<%= producto.id_producto %>/detail">Ver detalle</a>
                            </div>
                        </div>
                    </article>
                <% }) %>
            </section>
        </main>
        <!-- footer -->
        <%- include('../partials/footer') %>

</body>

</html>