<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/productCard.css">

</head>

<body>

    <%- include('../partials/header') %>


        <main class="fondoContenido">
            <h2>Carrito de Compras</h2>



            <div class="fondo-carrito">
                <div  class="subtitulos-carrito">
                    <p>Producto</p>
                    <p>Cantidad</p>
                    <p>Precio</p>
                </div> 
                
                <% for (let producto of productos) { %>
                    
                    <div class="product1">
                        <div class="img-producto">
                            <img src="<%= producto.image %>" alt="<%= producto.name %>" />
                        </div>
                        <div class="texto"><%= producto.descripcion %></div>
                        <div>
                            <div class="contador">
                                <button><i class="fa-solid fa-minus"></i></button>
                                <span>0</span>
                                <button><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                        <p>Precio: <%= producto.precio %></p>
                    </div>
                </div>
                <% } %>
            
            <!-- <div>
            <div class="product2">
                    <div class="img-producto">
                        <img src="./img/img-espejo-roble.jpg" alt="Imagen de 2do producto">
                    </div>
                    <div class="texto"> Del espejo Reflections es mucho más que un simple reflejo; es una ventana a tu
                        estilo, belleza y autoexpresión. Diseñado con precisión y elegancia, este espejo encarna la
                        perfecta
                        combinación entre funcionalidad y sofisticación.</div>
                    <div>
                        <div class="contador">
                            <button><i class="fa-solid fa-minus"></i></button>
                            <span>0</span>
                            <button><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                    <div>
                        <p>$45.000</p>
                    </div>
                </div>
                <div class="product3">
                    <div class="img-producto">
                        <img src="./img/img-lampara-temp.jpg" alt="Imagen de 3er producto">
                    </div>
                    <div class="texto"> La lámpara Luminaris es una obra maestra de iluminación que combina estilo,
                        funcionalidad y sofisticación en una sola pieza. Diseñada para iluminar tu espacio con elegancia
                        y
                        crear una atmósfera acogedora, esta lámpara es mucho más que una simple fuente de luz.</div>
                    <div> -->
                        <div class="contador">
                            <button><i class="fa-solid fa-minus"></i></button>
                            <span>0</span>
                            <button><i class="fa-solid fa-plus"></i></button>
                        </div>
                
            </div>

            <div class="seguirComprando">
                <a href="/index" class="textoBoton">Seguir comprando</a>
            </div>
            <div class="finalizarCompra">
                <a href="/index" class="textoBoton">Finalizar compra</a>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>